@font-face {
  font-family: 'PT Sans';
  src: url('/assets/fonts/PTS.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/PTS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/PTS.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/PTS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/PTS.svg') format('svg'); /* Legacy iOS */
}
